[meta]
    language = "English"
    variant = "Great britain"
    shorthand = "en-GB"
    maps_to = "en"

[commands]
    [commands.@COMMANDS_CLEARID@]
        name = "clear"
        desc = "clears the terminal screen"
    [commands.@COMMANDS_ECHOID@]
        name = "echo"
        desc = "prints text"
    [commands.@COMMANDS_EXITID@]
        name = "exit"
        desc = "closes this terminal"
    [commands.@COMMANDS_HELPID@]
        name = "help"
        desc = "show this help"
    [commands.@COMMANDS_PRINTID@]
        name = "print"
        desc = "prints text"
    [commands.@COMMANDS_QUITID@]
        name = "quit"
        desc = "closes this application"
    [commands.@COMMANDS_LOAD_DLLID@]
        name = "load_dll"
        desc = "loads a shared library"
    [commands.@COMMANDS_LOAD_MAPID@]
        name = "load_map"
        desc = "loads map from file"
    [commands.@COMMANDS_UPDATE_WORLDID@]
        name = "update_world"
        desc = "update world once"
    [commands.@COMMANDS_SETID@]
        name = "set"
        desc = "sets a variable"
    [commands.@COMMANDS_VALUEOFID@]
        name = "valueof"
        desc = "prints the value of a game variable"
    [commands.@COMMANDS_RELOAD_RESOURCES@]
        name = "reconfigure"
        desc = "reloads resources and configurations files"
    [commands.@COMMANDS_FIRE_ACTIONABLE@]
        name = "fire_actionable"
        desc = "sends a signal to an actionable (eg: opens/closes a door)"
    [commands.@COMMANDS_FIRE_ACTIVATOR@]
        name = "fire_activator"
        desc = "sends a signal to an activator (eg: presses a button)"

[variables]
    [variables.@VARIABLES_AVERAGE_FPSID@]
        name = "average_fps"
    [variables.@VARIABLES_TARGET_FPSID@]
        name = "target_fps"
    [variables.@VARIABLES_DISPLAY_DEBUG_DATAID@]
        name = "display_dbg_data"

[log]
    [[log.entry]]
        id = "terminal_commands.command_missing_name"
        fmt = "No name found for command {cmd_id}"

    [[log.entry]]
        id = "terminal_commands.load_dll.usage"
        fmt = "Usage: {arg0} <shared library path>"
    [[log.entry]]
        id = "terminal_commands.load_dll.loading"
        fmt = "Loading {dll_path}"
    [[log.entry]]
        id = "terminal_commands.load_dll.loading_failed"
        fmt = "Error loading library"

    [[log.entry]]
        id = "terminal_commands.load_map.usage"
        fmt = "Usage: {arg0} <map path>"

    [[log.entry]]
        id = "terminal_commands.set.usage"
        fmt = "Usage: {arg0} <variable> <value>"
    [[log.entry]]
        id = "terminal_commands.set.unknown_var"
        fmt = "Unknown variable: {var_name}"
    [[log.entry]]
        id = "terminal_commands.set.need_uint"
        fmt = "{value} is not an unsigned integer."
    [[log.entry]]
        id = "terminal_commands.set.is_read_only"
        fmt = "Error: {var_name} is read-only"

    [[log.entry]]
        id = "terminal_commands.get.usage"
        fmt = "Usage: {arg0} <variable>"
    [[log.entry]]
        id = "terminal_commands.get.unknown_var"
        fmt = "Unknown variable: {var_name}"

    [[log.entry]]
        id = "terminal_commands.reload.usage"
        fmt = "Usage: {arg0} <config file>"
    [[log.entry]]
        id = "terminal_commands.reload.fail"
        fmt = "Failed to reload resources from {file_path}"
    [[log.entry]]
        id = "terminal_commands.reload.success"
        fmt = "{file_path}: resources successfully reloaded"

    [[log.entry]]
        id = "terminal_commands.fire_activator.usage"
        fmt = "Usage: {arg0} <activator id>"
    [[log.entry]]
        id = "terminal_commands.fire_activator.need_uint"
        fmt = "Activator id should be a positive integer (got \"{value}\")"
    [[log.entry]]
        id = "terminal_commands.fire_activator.too_high"
        fmt = "Invalid value (got: {value}, max: {max_value})"
    [[log.entry]]
        id = "terminal_commands.fire_activator.none"
        fmt = "There is no activator in this map"

    [[log.entry]]
        id = "terminal_commands.general.help"
        fmt = "Available commands:"

    [[log.entry]]
        id = "terminal_commands.fire_actionable.usage"
        fmt = "Usage: {arg0} <actionable id>"
    [[log.entry]]
        id = "terminal_commands.fire_actionable.invalid_integer"
        fmt = "Activator id should be a positive integer (got \"{value}\")"
    [[log.entry]]
        id = "terminal_commands.fire_actionable.invalid_value"
        fmt = "Invalid value (got: {value}, max: {max_value})"
    [[log.entry]]
        id = "terminal_commands.fire_actionable.none"
        fmt = "There is no actionable in this map"

    [[log.entry]]
        id = "state_holder.configure.config_load_failed"
        fmt = "Failed to load resources from file {file}"

    [[log.entry]]
        id = "overmap_collection.unknow_entity_move"
        fmt = "Tried to move unknown entity {{typ: view, is_mob:{is_mob} id:{handle}}}"
    [[log.entry]]
        id = "overmap_collection.moving_mob"
        fmt = "Moving mob [view id] {handle} to ({x} ; {y})"
    [[log.entry]]
        id = "overmap_collection.moving_object"
        fmt = "Moving object [view id] {handle} to ({x} ; {y})"
    [[log.entry]]
        id = "overmap_collection.incompatible_rotate"
        fmt = "Rotate request for non-compatible view object {handle}"

    [[log.entry]]
        id = "actionable.none"
        fmt = "({x} ; {y}): nothing to activate here"
    [[log.entry]]
        id = "actionable.gate.open"
        fmt = "Opening gate at ({x} ; {y})"
    [[log.entry]]
        id = "actionable.gate.close"
        fmt = "Closing gate at ({x} ; {y})"

    [[log.entry]]
        id = "bot_api.commit.invalid_handle"
        fmt = "DLL sent invalid target id {handle} for decision {decision}"
    [[log.entry]]
        id = "bot_api.commit.sanitize"
        fmt = "DLL sent invalid float {value} for parameter {parameter}"

    [[log.entry]]
        id = "bot_dll.required_load_failed"
        fmt = "Failed to load required function {func_name} from file {file}"
    [[log.entry]]
        id = "bot_dll.optional_load_failed"
        fmt = "Optional function {func_name} absent in {file}"
    [[log.entry]]
        id = "bot_dll.optional_load_success"
        fmt = "Optional function {func_name} present in {file}"

    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.unknown_mob_reference"
        fmt = "Error while parsing map \"{map}\": referenced mob {mob} was not declared"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.mob_missing_name"
        fmt = "Error while parsing map \"{map}\": a mob is missing its name (key: {key})"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.mob_missing_hp"
        fmt = "Error while parsing map \"{map}\": mob {name} has unknown hp (key: {key})"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.mob_missing_sprite"
        fmt = "Error while parsing map \"{map}\": mob {name} has unknown sprite (key: {key})"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.mob_missing_behaviour"
        fmt = "Error while parsing map \"{map}\": mob {name} has unknown behaviour (key: {key})"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.mob_with_unknown_type"
        fmt = "Error while parsing map \"{map}\": mob has unknown type (key: {})"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.mob_type_not_recognized"
        fmt = "(specified type {type} not recognized)"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.mob_spawn_missing_component"
        fmt = "Error while parsing map \"{map}\": key {key} was not specified when parsing spawn infos (mob type: {type})"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.actor_with_unknown_type"
        fmt = "Error while parsing map \"{map}\": encountered actor with unspecified type (key: {key})"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.actor_missing_component"
        fmt = "Error while parsing map \"{map}\": key {key} was not specified (actor type: {type})"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.actor_duplication"
        fmt = "Warning: actor {actor} is duplicated (while parsing map \"{map}\")"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.actor_with_unrecognized_type"
        fmt = "Error while parsing map \"{map}\": actor type {type} is not recognized (key: {key})"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.actor_with_no_target"
        fmt = "Error while parsing map \"{map}\": {type} actor has no target to act on (key: {key}) (or value is malformed)"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.actor_with_unknown_target"
        fmt = "Error while parsing map \"{map}\": {type} actor's target \"{target}\" is unknown"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.missing_mob_def"
        fmt = "Error while parsing map \"{map}\": missing mob definitions"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.missing_mob_placings"
        fmt = "Error while parsing map \"{map}\": missing mob placings"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.missing_actors"
        fmt = "Error while parsing map \"{map}\": missing actors"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.missing_map_layout"
        fmt = "Error while parsing map \"{map}\": missing map layout"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.map_loaded"
        fmt = "map \"{map}\" loaded"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.internal_error"
        fmt = "Internal error while loading map \"{map}\""
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.bad_mob_defs"
        fmt = "Error while parsing map \"{map}\": error while loading mob definitions"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.bad_mob_spawns"
        fmt = "Error while parsing map \"{map}\": error while loading mob spawns"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.too_many_spawns"
        fmt = "Error while parsing map \"{map}\": too many mob spawns"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.empty_map"
        fmt = "Error while parsing map \"{map}\": null map size"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.bad_map_size"
        fmt = "Error while parsing map \"{map}\": non coherent map dimensions (at line {line})"
    [[log.entry]]
        id = "adapter_map_loader_v1_0_0.bad_map_char"
        fmt = "Error while parsing map \"{map}\": unknown character '{char}' in map layout ({line}:{column})"

    [[log.entry]]
        id = "adapter.map_load_failure"
        fmt = "Failed to load map \"{path}\": {reason}"
    [[log.entry]]
        id = "adapter.unsupported_version"
        fmt = "Unsupported version \"{version}\" for map \"{path}\""
    [[log.entry]]
        id = "adapter.unknown_model_handle"
        fmt = "Unknown model handle ({model_handle}) encountered for operation '{operation}'"
    [[log.entry]]
        id = "adapter.trace.rotate_entity"
        fmt = "Rotating view entity {view_handle} to a target angle of {angle} radians"
    [[log.entry]]
        id = "adapter.name_not_found"
        fmt = "Name not found for {kind} {handle}"
    [[log.entry]]
        id = "adapter.non_coherent_entity"
        fmt = "Non coherent entity type for id {handle}, logic and view might be out of sync (internal error)"
    [[log.entry]]
        id = "adapter.unknown_view_entity"
        fmt = "Unknown view entity with id {view_handle}, logic and view might be out of sync (internal error)"

[tooltip]
    [[tooltip.entry]]
        id = "adapter.objective"
        fmt = "Your objective."
    [[tooltip.entry]]
        id = "adapter.hp"
        fmt = "HP: {hp}"
    [[tooltip.entry]]
        id = "adapter.hitbox"
        fmt = "Hitbox: ({top_left_x} ; {top_left_y}) to ({bottom_right_x} ; {bottom_right_y})"
    [[tooltip.entry]]
        id = "adapter.position"
        fmt = "Position: ({x} ; {y})"
    [[tooltip.entry]]
        id = "adapter.angle"
        fmt = "Angle: {angle}"
    [[tooltip.entry]]
        id = "adapter.activator"
        fmt = "Activator: {handle}"
    [[tooltip.entry]]
        id = "adapter.named_target"
        fmt = "Target: {handle}, \"{name}\""
    [[tooltip.entry]]
        id = "adapter.nameless_target"
        fmt = "Target: {handle}"
    [[tooltip.entry]]
        id = "adapter.named_gate"
        fmt = "Gate: {handle}, \"{name}\""
    [[tooltip.entry]]
        id = "adapter.nameless_gate"
        fmt = "Gate: {handle}"


[gui]
    [[gui.entry]]
        id = "view.in_game_menu.resume"
        fmt = "Resume"
    [[gui.entry]]
        id = "view.in_game_menu.dll"
        fmt = "Load brain"
    [[gui.entry]]
        id = "view.in_game_menu.restart"
        fmt = "Restart"
    [[gui.entry]]
        id = "view.in_game_menu.settings"
        fmt = "Settings"
    [[gui.entry]]
        id = "view.in_game_menu.main_menu"
        fmt = "Main menu"
    [[gui.entry]]
        id = "view.in_game_menu.quit"
        fmt = "Quit"
    [[gui.entry]]
        id = "file_explorer.ok_button"
        fmt = "OK"
    [[gui.entry]]
        id = "file_explorer.cancel_button"
        fmt = "cancel"